mat-card {
  position:absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.center-component {
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 700px) {
  mat-card-subtitle {
    animation: fadeout 1s forwards;
  }
  mat-card-content {
    animation: fadeout 1s forwards;
  }
}

@media only screen and (min-width: 701px) {
  mat-card-subtitle {
    animation: fadein 1s forwards;
  }
  mat-card-content {
    animation: fadein 1s forwards;
  }
}

.disabled {
  background-color: #f2f2f2
}

p {
  padding: 10px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; display: none; }
}
