<mat-card class="enabled" *ngIf=cellContent.enabled (dblclick)="doubleClickCallback()" tabindex="1">
    <mat-card-header class="center-component">
      <mat-card-title [textContent]="date.getDate()"></mat-card-title>
    </mat-card-header>
  <p>
    <mat-card-subtitle class="center-component" [textContent]="dateManager.getWeekDayFromNumber(date.getDay())"></mat-card-subtitle>
  </p>

    <mat-selection-list  class="custom-scroll-bar" >
      <mat-list-option *ngFor="let chip of cellContent.chips"
                       (click)="showDetails(chip)"> {{chip["subject"]}}</mat-list-option>
    </mat-selection-list>
</mat-card>

<mat-card class="disabled" *ngIf=!cellContent.enabled>
  <mat-card-header class="center-component">
    <mat-card-title [textContent]="date.getDate()"></mat-card-title>
  </mat-card-header>
  <p>
    <mat-card-subtitle class="center-component" [textContent]="dateManager.getWeekDayFromNumber(date.getDay())"></mat-card-subtitle>
  </p>
  <mat-selection-list *ngFor="let chip of cellContent.chips" >
    <mat-list-option (click)="showDetails(chip)"> {{chip["subject"]}}</mat-list-option>
  </mat-selection-list>
</mat-card>


