<mat-card class="enabled" *ngIf=cellContent.enabled (dblclick)="doubleClickCallback()" tabindex="1">
    <mat-card-header class="center-component">
      <mat-card-title [textContent]="date.getDate()"></mat-card-title>
    </mat-card-header>
  <p>
    <mat-card-subtitle class="center-component" [textContent]="dateManager.getWeekDayFromNumber(date.getDay())"></mat-card-subtitle>
  </p>

  <mat-card-content>
    <mat-chip-list *ngFor="let chip of cellContent.chips" >
      <p><mat-chip (click)="showDetails(chip)" class="center-component"> {{chip["subject"]}}</mat-chip></p>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card class="disabled" *ngIf=!cellContent.enabled>
  <mat-card-header class="center-component">
    <mat-card-title [textContent]="date.getDate()"></mat-card-title>
  </mat-card-header>
  <p>
    <mat-card-subtitle class="center-component" [textContent]="dateManager.getWeekDayFromNumber(date.getDay())"></mat-card-subtitle>
  </p>
  <mat-chip-list *ngFor="let chip of cellContent.chips" >
    <p><mat-chip (click)="showDetails(chip)" class="center-component">{{chip["subject"]}}</mat-chip></p>
  </mat-chip-list>
</mat-card>


