<h2 mat-dialog-title>Manage bookings for
  {{ date.getDate() + ' ' + dateManager.getMonthName(date.getMonth()) }}
</h2>
<form [formGroup]="bookingForm" (ngSubmit)="onFormSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field class="full-width">
        <label>
          <input (change)="checkDatesOrder()" formControlName="subject" matInput placeholder="Subject" required>
        </label>
        <mat-error *ngIf="bookingForm.get('subject').hasError('required')">
          Subject is <strong>required!</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <!--TODO maybe a characters count?-->
    <p>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <label>
          <textarea matInput cdkTextareaAutosize formControlName="description" (change)="checkDatesOrder()"
                    maxlength="64" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
        </label>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <label>
          <input matInput (change)="checkDatesOrder()" type="time" placeholder="Start date" formControlName="startTime" required>
        </label>
        <mat-error *ngIf="bookingForm.get('startTime').hasError('required')">
          Start date is <strong>required!</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <label>
          <input matInput (change)="checkDatesOrder()" type="time" placeholder="End date" formControlName="endTime" required>
        </label>
        <mat-error *ngIf="bookingForm.get('endTime').hasError('required')">
          End date is <strong>required!</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </mat-dialog-content>



  <!--TODO maybe buttons on right side?-->
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" [disabled]="!bookingForm.valid || wrongDatesOrder">Book</button>
  </mat-dialog-actions>
</form>
