<form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
  <mat-card-content class="center-component">

    <p>
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First name" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name"  required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Password" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Greenwich Mean Time Zone</mat-label>
        <input matInput formControlName="gmt" placeholder="Greenwich Mean Time Zone" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Group</mat-label>
        <input matInput formControlName="group" placeholder="Group">
      </mat-form-field>
    </p>

    <p>
        <mat-checkbox formControlName="owner">Owner</mat-checkbox>
    </p>

    <p>
      <mat-card-actions class="center-component">
        <button mat-raised-button type="submit" color="warn" [disabled]="!registrationForm.valid">Register</button>
      </mat-card-actions>
    </p>

  </mat-card-content>
</form>

